<section class="p-4 max-w-5xl mx-auto">
  <form
    name="contact"
    method="POST"
    id="contact-form"
    class="w-full"
  >
    <div id="status-toast" class="hide" role="alert"></div>
    <div class="grid grid-cols-1 gap-6">
      {{ $ctx := . }} 
      {{ range .items }} 
      {{ partial "form/input.html" (dict
      "ctx" $ctx 
      "blockType" .blockType 
      "name" .name 
      "label" .label 
      "type" .type
      "placeholder" .placeholder 
      "rows" .rows
      "required" .required) }} 
      {{ end }} 
      
      {{ partial
      "form/button.html" (dict 
      "ctx" . 
      "label" "Absenden" 
      "id" "submit-button"
      "type" "submit" ) }}
    </div>
  </form>

  <script>
    var form = document.getElementById("contact-form");
    var statusToast = document.getElementById("status-toast");
    var submitButton = document.getElementById("submit-button");

    submitButton.setLoading = function () {
      this.classList.add("disabled");
      this.innerHTML = '<i class="fas fa-circle-notch animate-spin"></i>';
    };

    submitButton.setNormal = function () {
      this.classList.remove("disabled");
      this.innerHTML = "Absenden";
    };

    statusToast.show = function (type, content) {
      this.classList =
        "px-4 py-3 mt-0 mb-4 leading-normal rounded-lg alert text-" +
        type +
        "-700 bg-" +
        type +
        "-100";
      this.innerHTML = content;
    };

    statusToast.hide = function () {
      this.classList = "hide";
      this.innerHTML = "";
    };

    async function handleSubmit(event) {
      event.preventDefault();
      submitButton.setLoading();
      statusToast.show("blue", "Einen Moment ...");
      var data = new FormData(form);
      fetch("{{ .submitURL }}", {
        method: form.method,
        body: data,
        headers: {
          Accept: "application/json",
        },
      })
        .then((response) => {
          if(response.ok) {
            statusToast.show("green", "Danke für deine Nachricht!");
            form.reset();
            submitButton.setNormal();
          }
          else {
            statusToast.show(
              "red",
              "Oh nein! Beim Senden des Formulars ist ein Fehler aufgetreten. Bitte kontaktiere mich auf einem anderen Weg."
            );
            submitButton.setNormal();
          }
        })
        .catch((error) => {
          statusToast.show(
            "red",
            "Oh nein! Beim Senden des Formulars ist ein Fehler aufgetreten. Bitte kontaktiere mich auf einem anderen Weg."
          );
          submitButton.setNormal();
        });
    }
    form.addEventListener("submit", handleSubmit);
  </script>
</section>
