<section class="p-4 flex flex-col items-center">
<div class="grid grid-flow-col auto-cols-max auto-rows-min gap-1">
  <a
  href="{{ .previous }}"
  class="
    px-4
    py-2
    font-semibold
    rounded-l-full
    text-lg
    bg-black
    text-white
    hover:bg-gray-800
    transition-colors
    dark:bg-white dark:text-black dark:hover:bg-gray-200
  "
  rel="noopener noreferrer"
>
<i class="fas fa-chevron-left"></i>
</a>
  <a
    href="{{ .homePage }}"
    class="
      px-4
      py-2
      font-semibold
      text-lg
      bg-black
      text-white
      hover:bg-gray-800
      transition-colors
      dark:bg-white dark:text-black dark:hover:bg-gray-200
    "
    rel="noopener noreferrer"
  >
    {{ with .icon}}
    <i class="{{ . }} mr-2"></i>
    {{ end }} {{ with .text }} {{ . }} {{ end }}
  </a>

  <a
  href="{{ .next }}"
  class="
    px-4
    py-2
    font-semibold
    rounded-r-full
    text-lg
    bg-black
    text-white
    hover:bg-gray-800
    transition-colors
    dark:bg-white dark:text-black dark:hover:bg-gray-200
  "
  rel="noopener noreferrer"
>
<i class="fas fa-chevron-right"></i>
</a>
</div>
</section>